.classpath
.project
.directory
.svn
.settings
.metadata
target
build.sh~
.gitignore~
.gradle
bin
build
.DS_Store
.gradletasknamecache
.groovy
gradle-app.setting

*.db3
*.log
*.class
*.txt
*.war
*.ear
